@import "container.scss";
*{
    margin: 0;
    padding: 0;
}
body{
    width: 1440px;
}
.copyright{
    display: flex;
    justify-content: space-around;
    background-color: #d3c8c8;
    padding: 10px 0px;
}

.container{
    width: $container;
    display: flex;
    justify-content: space-around;
}
.sidenav{
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav{
    a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .closebtn{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    a:hover{
        color: #f1f1f1;
    }
}
.logo_EBFI{
    height: 70px;
    width: 260px;
    margin-top: 5px;
}
.logo_ISO17020{
    height: 100px;
    width: 200px;
}
@media screen and(max-height: 450px) {
  .sidenav{
    padding-top: 15px;
  }
  .sidenav a{
    font-size: 18px;
  }
}

